<% provide(:title, "Contato")%>
<h1>Contato</h1>
<p>
<ul>
<li><strong>Nome:</strong>Allan</li>
<li><strong>Curso:</strong>Sistamas de Informação</li>
<li><strong>Faculdade:</strong>Ufal</li>
<li><strong>Telefone:</strong>(82)8898-0034</li>
</ul>
</p>