<% provide(:title, "Inicio")%>
<h1>Terceiro App</h1>
<p>
    Terceiro App criado em Ruby on Rails
    <strong>Desenvolvimento de software para Web II com HTML, CSS e Ruby
    on Rails</strong>
    <a href="http://ufal.edu.br/arapiraca/unidades-de-ensino/penedo">
Penedo</a>
</p>


